{
  "presets": ["stage-2"],
  "env": {
    "development": {
      "presets": ["es2015"],
    },
    "rollup": {
      "presets": [["es2015", {"modules": false}]],
    },
    "test": {
      "presets": ["es2015"],
      "plugins": ["istanbul"]
    }
  }
}
